<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-8">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div collapse="navCollapsed" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#/plot">plot chart</a></li>
        <li><a href="#/bar">bar chart</a></li>
        <li><a href="#/boxplot">box plot chart</a></li>
        <li><a href="#/boxplotMan">box plot manualy chart</a></li>
        <li><a href="#/pie">pie chart</a></li>
        <li><a href="#/line">line chart</a></li>
      </ul>
    </div>
  </div>
</nav>

